body{
background-color: lightgrey;
margin-top: 15px;
font-family: 'Open Sans', sans-serif;
color: grey;
}

h1 h3 h4{
text-align: center;
 font-family: 'Montserrat', sans-serif;
 color: black;
}
p {


}


.page{
display: grid;
grid-gap: 20px;
overflow: auto;
max-height:auto;
max-width: 800px;
font-family: Open Sans;
background-color: white;
column-count: 2;
margin-left: 30%;
margin-right: 30%;
text-align: center;

}
#photo{
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  ;
  border-style: hidden;
  border-width: thin;

}

#one{
margin-top: 20px;
margin-bottom: 20px;
padding-left: 15%;
padding-right: 15%;

}

#two{
  width: 450px;
  margin: auto;
  margin-bottom: 20px;
  border: 0px solid grey;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 1px grey;
  padding: 22px;
  list-style-type: none;
  display: inline-block;
  text-align: center;
margin-left: 60px;

}

#three {
text-align: center;

}

.btn {
  background: #ff4564;
  background-image: -webkit-linear-gradient(top, #ff4564, #fa0000);
  background-image: -moz-linear-gradient(top, #ff4564, #fa0000);
  background-image: -ms-linear-gradient(top, #ff4564, #fa0000);
  background-image: -o-linear-gradient(top, #ff4564, #fa0000);
  background-image: linear-gradient(to bottom, #ff4564, #fa0000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}



#name{
  color: #fa0000;
}
#poster{
  text-align: left;
  max-height: 120px;
  max-width: 80px;
}
